{{ $sectionTitle := .Scratch.Get "sectionTitle" }}
{{ with (index .Site.Data.landing $sectionTitle) }}
{{ if eq .enable true }}
{{ $ocol := .col }}
{{ $sep := .separator | default false }}
{{ $col := div 12 (.col | default 4) }}
<!-- Features Start -->
<section id="{{ $sectionTitle }}" class="{{ .bgColor }} py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    {{ with .title }}
                        <h4 class="title fw-bold mb-4">{{ . }}</h4>
                    {{ end }}
                    {{ with .subtitle }}
                        <p class="text-muted para-desc mb-4 pb-2 mx-auto">{{ . | markdownify }}</p>
                    {{ end }}
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            {{ $len := len .items }}
            {{ range $idx, $el := .items }}
                <div class="col-md-{{ $col }} col-12 {{ if and $sep (le $idx (sub $len 2)) }}border-end border-secondary{{ end }}">
                    <div class="text-center">
                        <h1>{{ $el.title }}</h4>
                        <h6>{{ $el.subtitle | markdownify }}</h4>
                    </div>
                </div>
                <!--end col-->
            {{ end }}
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- features End -->
{{ end }}
{{ end }}